:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}

body {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    color: var(--navy-blue);
    background-color: var(--dairy);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
    color: var(--text-black);
    outline: none;
}

ul {
    list-style: none;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

p {
    font-weight: 400;
    color: var(--slate);
}